* {
  font-size: 1rem;
  width: 100vw;
}

/* Imports*/

/*font-family: 'Roboto Slab', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

/* NAVBAR STYLE*/
nav {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: flex-start;
  border: solid 2px pink;
}
.hamburger {
  width: 3%;
  height: 70%;
}
.hamburger:hover {
  cursor: pointer;
}
.nav-item-container {
  width: 10%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
  position: absolute;
  border: red solid 1px;
}
.nav-items {
  width: 17%;
  height: 10%;
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
}
.nav-items:hover {
  font-size: 1.7rem;
}
/* bens page style */
.ben-container {
  width: 100vw;
  height: 100vh;
}
